:root {
  --main-bg-color: #333;
  --main-txt-color: #eee;
  --main-nav-bg-color: black;
  --main-nav-txt-color: white;
}
* {
  margin: 0;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: "Roboto", sans-serif;
}
hr {
  border: 1px solid var(--main-txt-color) !important;
}
.navbar {
  width: 100%;
  height: 50px;
  background-color: var(--main-nav-bg-color);
  position: sticky;
  top: 0;
  z-index: 9;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: var(--main-nav-txt-color);
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  cursor: pointer;
  color: var(--main-txt-color);
  display: inline-block;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  display: none;
  margin: 0 13px 0;
}

/* favlist and search list */
.search-list,
.favlastIteams {
  display: none;
}
.exit {
  margin: 20px;
}

.favlist {
  display: none;
  color: tomato;
  cursor: pointer;
}

.profile-picture {
  display: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.auth-list {
  display: flex;
  list-style: none;
  padding: 0 10px;
}
.auth-list a {
  text-decoration: none;
  color: var(--main-nav-txt-color);
}
.auth-list .logout {
  display: none;
  padding-left: 0;
  text-decoration: none;
  color: red;
}

/* card */
.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
}

.movie-list,
.upcomming-movie-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);

  margin: 0 30px;
  opacity: 0.3;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
  overflow: hidden;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* pragraph*/
.movie-list-item-desc {
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
  overflow-x: hidden;
  height: 110px;
  text-overflow: ellipsis;
  overflow-y: hidden;
}
/* read more button*/
.movie-list-item-button {
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
/* favorite button*/

.fa.fa-heart {
  padding: 8px;
  cursor: pointer;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 8;
}
.details-background .fas.fa-heart {
  padding: 8px;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: tomato;
  text-align: center;
  width: 80%;
}
.heart-d {
  font-size: 30px;
  cursor: pointer;
  color: tomato;
}

/* detials */

.more-details-section {
  padding: 75px;
  display: none;
}
.upcomming-details-list {
  display: none;
}
.favlast {
  padding: 75px;
  display: none;
}
.fa-star {
  color: gold;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
/* items */
.flex-item {
  padding: 5px;
  margin: 5px;
  line-height: 50px;
  color: var(--main-nav--bg-color);
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
.categories .fas {
  margin: 0 8px;
}
.anime-detials {
  display: flex;
}
.anime-detials p {
  padding: 4em 2em;
  line-height: 1.5;
}
.genres li {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 5px 9px;
  background: rgba(25, 55, 103, 0.08);
  border-radius: 5px;
}
.genres h4 {
  padding: 10px 2em;
}
.genres li a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
}
.header i {
  margin-left: auto;
  color: red;
  font-size: 50px;
  cursor: pointer;
}

.image {
  padding-top: 32px;
}

.no-iteam {
  color: red;
  text-align: center;
}

/* footer */
.footer {
  text-align: center;
  padding: 10px;

  background-color: tomato;
  color: var(--main-nav-txt-color);
}
.footer span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.auth-list li {
  padding: 0 10px;
}
/* Full-width input fields */
.sign-up input[type="text"],
input[type="password"] {
  width: 94%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: var(--main-bg-color);
}

/* Add a background color when the inputs get focus */
.sign-up input[type="text"]:focus,
input[type="password"]:focus {
  background-color: var(--main-txt-color);
  outline: none;
}

/* Set a style for all buttons */
.sign-up button {
  background-color: #04aa6d;
  color: var(--main-nav-txt-color);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.sign-up button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.sign-up .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.sign-up .cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.sign-up .container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  color: #343a40;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.sign-up .close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.sign-up .close:hover,
.sign-up .close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.sign-up .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.toggle {
  width: 40px;
  height: 20px;
  background-color: var(--main-nav-txt-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.toggle-ball.active {
  background-color: var(--main-nav-txt-color);
  transform: translateX(-20px);
}
.search-all input {
  background-color: var(--main-txt-color);
  color: var(--main-nav-bg-color);
  border: none;
  border-radius: 15px;
  padding: 8px;
}
.top-animes {
  text-align: center;
  padding: 1rem 0;
}
.show-button {
  text-align: center;
}
.show-button button {
  background-color: #f44336;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  margin: 1rem 0;
  color: #fff;
  cursor: pointer;
}
